.feather-14 {
    width: 14px;
    height: 14px;
}

.feather-16 {
    width: 16px;
    height: 16px;
}

.feather-18 {
    width: 18px;
    height: 18px;
    padding-bottom: 2px;
}

.feather-24 {
    width: 24px;
    height: 24px;
}

.feather-32 {
    width: 32px;
    height: 32px;
}